$background-volume: #EC1119;
$white: #fff;
$bg-gradient: linear-gradient(165deg, #c22700, #FFD600);
$text-gradient: linear-gradient(-15deg, #EB5D38, #FFD600);
$text-shadow:  0 4px 20px rgba(255, 213, 54, 0.5);