@font-face{
  font-family: "Nirmala UI";
  src: url("../assets/fonts/203748910c1bfb8227b221641582f0b8.eot");
  src: url("../assets/fonts/203748910c1bfb8227b221641582f0b8.eot?#iefix")format("embedded-opentype"),
      url("../assets/fonts/203748910c1bfb8227b221641582f0b8.woff")format("woff"),
      url("../assets/fonts/203748910c1bfb8227b221641582f0b8.woff2")format("woff2"),
      url("../assets/fonts/203748910c1bfb8227b221641582f0b8.ttf")format("truetype"),
      url("../assets/fonts/203748910c1bfb8227b221641582f0b8.svg#Nirmala UI")format("svg");
  font-weight: 400;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Nirmala UI";
  src: url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.eot");
  src: url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.eot?#iefix")format("embedded-opentype"),
      url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.woff")format("woff"),
      url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.woff2")format("woff2"),
      url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.ttf")format("truetype"),
      url("../assets/fonts/429d7be4109ed5e4f17b52951d6f2215.svg#Nirmala UI Bold")format("svg");
  font-weight: 800;
  font-style:normal;
  font-display:swap;
}