// @import url(https://db.onlinewebfonts.com/c/429d7be4109ed5e4f17b52951d6f2215?family=Nirmala+UI+Bold);
// @import url(https://db.onlinewebfonts.com/c/203748910c1bfb8227b221641582f0b8?family=Nirmala+UI);
@import './style/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nirmala UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}